<html>
  <head>
    <title>Kim's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Kim's Blog</a></h1>
    </div>

    <div>
      <p>published 10.3.2015, 12:18</p>
      <h2> <a href=''>My First Post</a> </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu.<p>
      </div>

      <div>
        <p>published 10.3.2015 12:18</p>
        <h2><a href="">My Second Post</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu.</p>
      </div>
  </body>
</html>
